doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ihost - #{title}
    link(rel="stylesheet", href="stylesheets/style.css")
    block include
    script(src="javascript/popup.js" defer)
    if user
      script.
        const user = !{JSON.stringify(user)}
  body
    section#popup
      form.window(action="javascript:;")
        h1 Woah hold up
        span.message Are you sure you're ok?
        fieldset#text
          input(name="text", type="text", placeholder="text here", autocomplete="off")
        fieldset#choice
          input.invert(type="submit", onclick="popupAction(0)", value="Yes")
          input.red(type="submit", onclick="popupAction(1)", value="No")

    header
      nav
        a(href="/") Home
        span.space
        if user
          ul.profile
            li
              a #{user.name}
            li
              a(href="/profile") Profile
            li
              a(href="/logout") Log out
        else
          a(href="login") Login
          a(href="register") Register

    main
      block content
    footer
      block foot
      span.copyright &copy; oofsauce 2020-#{time.getFullYear()}