doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ihost - #{title}
    block head
      link(rel="stylesheet", href="stylesheets/style.css")
  body
    header
      nav
        a(href="/") Home
        a(href="#") beee
        a ceeee
        span.space
        if user
          ul.profile
            li
              a #{user.name}
            li
              a(href="/profile") Profile
            li
              a(href="/logout") Log out
        else
          a(href="login") Login
          a(href="register") Register

    main
      block content
    footer
      block foot
      span.copyright &copy; oofsauce 2020-#{time.getFullYear()}