extends base.pug

block include
  script(src="javascript/index.js" defer)

block content
  | herl
  br
  button(onclick='testpop()') Pop me up
  section#testout
  br
  br
  ul#list

  input#addInp(type="text", placeholder="new entry")
  button(onclick="pushList()") Add Entry
  br
  textarea#output(readonly)