extends base.pug

block include
  link(rel="stylesheet", href="stylesheets/soloform.css")
  script(src="javascript/fetch.js")
  script(src="javascript/login.js" defer)

block content
  form#login(action="javascript:login()", method="post")
    h1 Login
    input(name="id", placeholder="username", required)
    input(name="password", type="password", placeholder="password", required)
    input(name="trad", type="hidden", value="1")
    section
      input(name="rememberme", id="rememberme", type="checkbox", checked)
      label(for="rememberme") Remember Me
    button#submit Login
    section.error=message