extends base.pug

block include
  script(src="javascript/fetch.js")
  script(src="javascript/profile.js" defer)

block content
  | lel hi #{user.name}
  br
  | you are #{user.validated ? "" : "not"} validated.
  br
  if user.admin
    | class you're an admin
    br
  button(onclick="deleteAccount()") Delete Account