extends base.pug

block include
  link(rel="stylesheet", href="stylesheets/soloform.css")
  script(src="javascript/fetch.js")
  script(src="javascript/register.js" defer)

block content
  form#register(action="javascript:register()", method="post")
    h1 Register
    input(name="id", placeholder="username", required)
    input(name="password", type="password", placeholder="password", required)
    button#submit Register
    section.error !{message}